// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

// @import 'adonis';


body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
}

.top-nav {
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background: #e4009d;
  font-size: .8rem;
  padding-right: 1rem;
  color: #fff;
}

.nav-group a {
  text-decoration: none;
}

ul.nav-group {
  list-style-type: none;
  color: #fff;
}

.nav-group__item {
  margin: 0 0.5rem;
  display: inline;
  color: #fff;
}

header {
  min-height: 50vh;
  color: #fff;
  background: #010046;
}

.hero__container, {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 65rem;
  margin: auto;
  padding-top: 4rem;
}

.hero h2 {
  font-size: 1.8rem;
  margin: 0;
  text-align: center;
}
